.col-6{
    margin-left: 150px;
    background-color: white;
}

.col-4{
  background-color: white;
}

.yeet{
  margin-top: 40px;
  margin-right: 65px;
  margin-bottom: 65px;
  margin-left: 65px;
  background-color: white;
}
